#oUl {
  padding-top: 10px;
  width: 1080px;
  margin: 0 auto;
  overflow: auto; }

#oUl li {
  float: left;
  padding: 5px;
  margin-left: 10px;
  width: 200px;
  margin: 3px;
  background: #fff; }

#oUl li:hover {
  box-shadow: 0px 0px 3px 3px #cecece; }

#oUl img {
  display: block;
  border: none;
  width: 200px;
  height: 200px; }

#oUl p {
  margin: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

#oUl input {
  width: 88px;
  height: 30px;
  background: orangered;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 0 5px 100px; }

.money {
  color: red;
  font-size: 20px; }
